.menuSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menuItem {
    width: 50%;
    border: 2px solid black;
    margin: auto 0;
}
.menuItem p,.menuItem h3 {
    margin-left: 10px;
}

.menuTitle {
    background-color: rgb(34, 34, 49);
    color: white;
    width: 50%;
    border: 2px solid black;
}
.menuTitle h1 {
    text-align: center;
}